main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #6800E4;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    width: 70%;
    background: #F1F1F1;
    position: relative;
    padding: 2.5em;
    width: 60%;
    background-color: #141414;
}

.controls {
    display: flex;
    justify-content: center;
}

.action {
    padding: 1em;
    cursor: pointer;
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
}
.progress-bar-wrapper {
    margin-top: 20px;
    background: rgba(196, 196, 196, 0.26);
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress-bar {
    background: rgba(196, 196, 196, 0.5);
    height: 100%;
    width: 0%;

}

.ball-progress-bar {
    width: 20px;
    height: 20px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

h1, h2 {
    color: #D3D3D3;
}

h2 {
    font-weight: 300;
}

.player .controls .action img {
    width: 29px;
    height: 22px;
}

.play-pause img {
    width: 27px;
    height: 31px;
}


main .player .text-icon-bar-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.text-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-icon-wrapper img {
    width: 78px;
    height: 41px;
}